body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  width: 300px;
}

.header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#status {
 font-weight: bold;
}

#content {
  padding: 20px;
  text-align: center;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#twitterDetails {
  margin-top: 10px;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

#injectButton {
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 1rem;
}